.small-icons{
    height: 22px;
    width: 22px;

    transition: all 0.35s;
    cursor: pointer;
}
.small-icons:hover{
    height: 28px;
    width: 28px;
}
@media (max-width: 600px) {
    .small-icons{
        height: 18px;
        width: 18px;
    
        transition: all 0.35s;
        cursor: pointer;
    }
    .small-icons:hover{
        height: 22px;
        width: 22px;
    }
}